{% extends "base.html" %}
{% from "macros.html" import  pagination_collected_post %}
{% from "macros.html" import pagination_widget_blog %}
{% from "macros.html" import pagination_followeds %}
{% from "macros.html" import pagination_followers %}
{% from "macros.html" import pagination_personal_posts %}
{% import "bootstrap/wtf.html" as wtf %}
{% block page_content %}
    <div class="col-lg-3 col-lg-offset-1 box_user"
         style="position: absolute; top:100px; padding: 20px 24px 16px 24px;background-color:#fff">
        <div class="row" style="height: 60px">
            <div class="col-lg-8">头像:<img style="height: 128px;width: 128px"  src="{{ url_for('static',filename=real_avatar(current_user)) }}"></div>
            <div class="col-lg-4">昵称:{{ current_user.username }}</div>
        </div>
        <div class="row" style="height: 10px">
            <div class="col-lg-3">文章:<small class="badge badge-primary">{{ current_user.posts.count() }}</small>
            </div>
            <div class="col-lg-3">收藏:<small
                    class="badge badge-primary">{{ current_user.collection_posts.count() }}</small></div>
            <div class="col-lg-3">关注:<small class="badge badge-success">{{ followed_number(current_user) }}</small>
            </div>
            <div class="col-lg-3">粉丝: <small class="badge"> {{ follower_number(current_user) }} </small></div>
        </div>
        <div class="row" style="height: 10px">
            <div class="col-lg-12">个性签名:{{ current_user.about_me }}</div>
        </div>
        <div class="row" style="height: 10px">
            <div class="col-lg-6">性别:{{ current_user.sex }}</div>
            <div class="col-lg-6">所在地:{{ current_user.location }}</div>
        </div>
        <div class="row" style="height: 10px">
            <div class="col-lg-6">注册时间:{{ moment(current_user.logon_time).format('LL') }}</div>
            <div class="col-lg-6">登录时间:{{ moment(current_user.login_time).format('LL') }}</div>
        </div>
        <div class="row">
            <div class="col-lg-2">
                {% if not is_follow(current_user,current_user) %}
                    <a href="{{ url_for('main.follow_self') }}"><small
                            class="label label-success">关注</small></a>
                {% else %}
                    <a class="label label-success"
                       href="{{ url_for('main.un_follow_self',username=current_user.username) }}">
                        取消关注</a>
                {% endif %}
            </div>
            <div class="col-lg-offset-2 col-lg-2">
                <a href="{{ url_for('auth.upload_imag',username=current_user.username) }}" class="label label-success">
                    更新头像
                </a>
            </div>
            <div class="col-lg-offset-2 col-lg-2">
                <a href="{{ url_for('auth.change_user') }}" class="label label-success">
                    编辑个人信息
                </a>
            </div>
        </div>
    </div>
    <div class="col-lg-5 col-lg-offset-4 " style="position: absolute; top: 100px ;left: 10px">
        <div class="row">
            <ul class="nav nav-tabs" id="myTab">
                <li class="active">
                    <a href="#home" data-toggle="tab">公开文章</a>
                </li>
                <li><a href="#collect" data-toggle="tab">收藏</a></li>
                <li><a href="#personal_posts" data-toggle="tab">私密文章</a></li>
                <li><a href="#follow" data-toggle="tab">关注</a></li>
                <li><a href="#follower" data-toggle="tab">粉丝</a></li>
                <li><a href="#message" data-toggle="tab">消息<span class="badge">0</span></a></li>
                <li>
                    <a href="#set" data-toggle="tab" >设置</a>
                </li>
            </ul>
        </div>
        {#        显示nav#}
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="home">
                {% if not posts %}
                    <h3>
                        您还没有写过文章!快快点击<a
                            href="{{ url_for('blog.edit',username=current_user.username) }}">这里</a>发表文章吧
                    </h3>
                {% else %}
                    {% for post in posts %}
                        <div style="padding: 20px 24px 16px 24px;background-color: #ffffff;margin-bottom: 16px;">
                            {% if post.author.username==current_user.username %}

                                <h3 class="text-primary"><a
                                        href="{{ url_for('blog.through_self',username=post.author.username,id=post.id) }}">{{ post.title }}</a>
                                </h3>
                                <p>{{ post.body_html|striptags|truncate }}
                                    <small>
                                        <a href="{{ url_for('blog.through_self',username=post.author.username,id=post.id) }}">Read
                                            More</a></small>
                                </p>
                                <small>
                                    Comments: <a
                                        href="{{ url_for('blog.through_self',username=post.author.username,id=post.id) }}"><span
                                        class="badge">{% if comments %} {{ post.comments.count() }}{% else %}
                                    0 {% endif %} </span></a>&nbsp;&nbsp;
                                    <a href="{{ url_for('auth.display_user',username=post.author.username) }}">{{ post.author.username }}</a>
                                    <span class="float-right">发表时间:{{ moment(post.timestamp).format('LLL') }}</span>
                                    <span><a class="label label-primary"
                                             href="{{ url_for('blog.display_category_posts',category_name=judge_category(post.id)) }}">{{ judge_category(post.id) }}</a></span>
                                </small>
                            {% endif %}
                        </div>
                    {% endfor %}
                    {% if  posts %}
                        {{ pagination_widget_blog(pagination,endpoint,current_user) }}
                    {% endif %}
                {% endif %}
            </div>
            <div class="tab-pane fade " id="collect">
                {% if collect_posts %}
                    {% for post in collect_posts %}
                        <div style="padding: 20px 24px 16px 24px;background-color: #ffffff;margin-bottom: 16px;">
                            <li class="post-ul">
                                <h3 class="text-primary"><a
                                        href="{{ url_for('blog.show_collect_signal_post',id =post.id) }}">{{ post.title }}</a>
                                </h3>
                                <p>{{ post.body_html|striptags|truncate }}
                                    <small>
                                        <a href="{{ url_for('blog.show_collect_signal_post',id=post.id) }}">Read
                                            More</a></small>
                                </p>
                                <small>
                                    Comments: <a
                                        href="{{ url_for('blog.show_collect_signal_post',id=post.id) }}"><span
                                        class="badge">{% if post.comments %} {{ post.comments.count() }}{% else %}
                                    0 {% endif %} </span></a>&nbsp;&nbsp;
                                    <a href="{{ url_for('auth.display_other',username=post.author.username) }}">{{ post.author.username }}</a>
                                    <span class="float-right">收藏时间:{{ moment(post.timestamp).format('LLL') }}</span>
                                    <span><a class="label label-primary"
                                             href="{{ url_for('blog.display_category_posts',category_name=judge_category(post.id)) }}">{{ judge_category(post.id) }}</a></span>
                                </small>
                            </li>
                        </div>
                    {% endfor %}
                {% else %}
                    <h3>您没有收藏博客呢</h3>
                {% endif %}
                {% if collect_posts %}
                    {{ pagination_collected_post(collect_pagination,endpoint,current_user) }}
                {% endif %}
            </div>
            <div class="tab-pane fade" id="personal_posts">
                {% if not personal_posts %}
                    <h3 style="text-align: center">
                        您没有私密文章
                    </h3>
                {% else %}
                    {% for post in personal_posts %}
                        <div style="padding: 20px 24px 16px 24px;background-color: #ffffff;margin-bottom: 16px;">
                            {% if post.author.username==current_user.username %}

                                <h3 class="text-primary"><a
                                        href="{{ url_for('blog.through_self',username=post.author.username,id=post.id) }}">{{ post.title }}</a>
                                </h3>
                                <p>{{ post.body_html|striptags|truncate }}
                                    <small>
                                        <a href="{{ url_for('blog.through_self',username=post.author.username,id=post.id) }}">Read
                                            More</a></small>
                                </p>
                                <small>
                                    Comments: <a
                                        href="{{ url_for('blog.through_self',username=post.author.username,id=post.id) }}"><span
                                        class="badge">{% if comments %} {{ post.comments.count() }}{% else %}
                                    0 {% endif %} </span></a>&nbsp;&nbsp;
                                    <a href="{{ url_for('auth.display_user',username=post.author.username) }}">{{ post.author.username }}</a>
                                    <span class="float-right">发表时间:{{ moment(post.timestamp).format('LLL') }}</span>
                                    <span><a class="label label-primary"
                                             href="{{ url_for('blog.display_category_posts',category_name=judge_category(post.id)) }}">{{ judge_category(post.id) }}</a></span>
                                    <a><label class="label label-success">私密文章</label></a>
                                </small>
                            {% endif %}
                        </div>
                    {% endfor %}
                    {% if  personal_posts %}
                        {{ pagination_personal_posts(personal_pagination,endpoint,current_user) }}
                    {% endif %}
                {% endif %}
            </div>
            <div class="tab-pane fade" id="follow">
                {% for f in followed_users %}
                    <div style="padding: 20px 24px 16px 24px;background-color: #ffffff;margin-bottom: 16px;">
                        <ul>
                            <li style="list-style: none">

                                 <span class="glyphicon glyphicon-user"><a class="label label-success "
                                                                          href="{{ url_for('auth.display_other',username=f.username) }}">{{ f.username }}</a></span>
                                    {% if is_follow(current_user,f) %}<a class="label label-success " href="
                                    {{ url_for('main.un_follow_other',username=f.username,flag='from_self',from_=current_user.username) }} ">
                                        取消关注</a>{% else %}<a class="label label-success " href="
                                    {{ url_for('main.follow_other',username=f.username,flag='from_self',from_=current_user.username) }} ">
                                        关注</a>
                                    {% endif %}
                            </li>
                        </ul>
                    </div>
                {% endfor %}
                {% if follower_users %}
                    {{ pagination_followers(follower_pagination,endpoint,current_user) }}
                {% endif %}
            </div>
            <div class="tab-pane fade" id="set">
                <div class="row col-lg-offset-2 ">
                    <form class="form-horizontal" action="{{ url_for('auth.display_user') }}" method="post">
                        {{ form.hidden_tag() }}
                        <div class="form-group">
                            <label class="control-label">{{ form.is_show_comment.label() }} </label>
                            <div>{{ form.is_show_comment() }}</div>
                        </div>
                             <div class="form-group">
                            <label class="control-label">{{ form.is_show_fans.label() }} </label>
                            <div>{{ form.is_show_fans() }}</div>
                        </div>
                             <div class="form-group">
                            <label class="control-label">{{ form.is_show_followed.label() }} </label>
                            <div>{{ form.is_show_followed() }}</div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">{{ form.care_personal_can_see.label() }}</label>
                            <div>{{ form.care_personal_can_see() }}</div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">{{ form.is_show_collect_post.label() }}</label>
                            <div>{{ form.is_show_collect_post() }}</div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">{{ form.posts.label() }} </label>
                            <div>{{ form.posts() }}</div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">{{ form.is_mute.label() }}</label>
                            <div>{{ form.is_mute() }}</div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">{{ form.is_personal_post.label() }}</label>
                            <div> {{ form.is_personal_post() }}</div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">{{ form.is_show_comment_s.label() }}</label>
                            <div>{{ form.is_show_comment() }}</div>
                        </div>
                        <div class="form-group">
                            {{ form.submit() }}
                        </div>
                    </form>
                </div>
            </div>
            <div class="tab-pane fade" id="follower">
                {% for f in follower_users %}
                    <div style="padding: 20px 24px 16px 24px;background-color: #ffffff;margin-bottom: 16px;">
                        <ul>
                            <li style="list-style: none">

                                <span class="glyphicon glyphicon-user"><a class="label label-success "
                                                                          href="{{ url_for('auth.display_other',username=f.username) }}">{{ f.username }}</a></span>
                                关注时间:{{ moment(self_follower_time(f)).format('LLL') }}
                                {% if is_follow(current_user,f) %}<a class="label label-success " href="
                                   {% if f.username==current_user.username %} {{ url_for('main.un_follow_self') }}{% else %}{{ url_for('main.un_follow_other',username=f.username,flag='from_self',from_=current_user.username) }}{% endif %} ">
                                    取消关注</a>{% else %}<a class="label label-success " href="
                                    {{ url_for('main.follow_other',username=f.username,flag='from_self',from_=current_user.username) }} ">
                                    关注</a>
                                {% endif %}
                                <a class="label label-success" href="#">私信</a>
                            </li>
                        </ul>
                    </div>
                {% endfor %}
                {% if follower_users %}
                    {{ pagination_followers(follower_pagination,endpoint,current_user) }}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="list-group col-lg-2 col-lg-offset-10" style="top:100px">
        {% for category in categories %}
            <a class="list-group-item"
               href="{{ url_for('blog.display_category_posts',category_name=inquire_category_name(category.category_name)) }}">{{ category.category_name }}
                <small
                        class="badge badge-success">{{ category.posts.count() }}</small></a>
        {% endfor %}
    </div>
{% endblock %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static',filename="css/user.css") }}">
    <link rel="stylesheet" href="{{ url_for('static',filename="css/post.css") }}">
{% endblock %}
