{% extends "base.html" %}
{% from "macros.html" import pagination_category_posts with context %}
{% block page_content %}
    <div class="col-lg-6 col-lg-offset-2" style="top: 50px">
        {% for post in posts %}
            <div style="padding: 20px 24px 16px 24px;background-color: #ffffff;margin-bottom: 16px;">
                <h3 class="text-primary"><a
                        href="{{ url_for('blog.show_signal_post',username=post.author.username,id=post.id) }}">{{ post.title }}</a>
                </h3>
                <p>{{ post.body_html|striptags|truncate }}
                    <small>
                        <a href="{{ url_for('blog.show_signal_post',username=post.author.username,id=post.id) }}">Read
                            More</a></small>
                </p>
                <small>
                    Comments: <a
                        href="{{ url_for('blog.show_signal_post',username=post.author.username,id=post.id) }}"><span
                        class="badge">{% if comments %} {{ post.comments.count() }}{% else %}
                    0 {% endif %} </span></a>&nbsp;&nbsp;
                    <a href="{{ url_for('auth.display_user',username=post.author.username) }}">{{ post.author.username }}</a>
                    <span class="float-right">发表时间:{{ moment(post.timestamp).format('LLL') }}</span>
                    <span ><a class="label label-primary"
                            href="{{ url_for('blog.display_category_posts',category_name=judge_category(post.id)) }}">{{ judge_category(post.id) }}</a></span>
                </small>
            </div>
        {% endfor %}
    {% if posts %}
        {{ pagination_category_posts(pagination,endpoint,category_name) }}
    {% endif %}
    </div>
    {% include "_aside.html" %}
{% endblock %}